<p>
	１番欲しいもの：<%= @input_word.desire_1 %><br>
	１番やりたいこと：<%= @input_word.desire_2 %><br>
	１番やりたいこと：<%= @input_word.desire_3 %><br><br>
</p>

<p>
	今まで挙げた<br>
	あなたが本当に実現したい人生を<br>
	あなたは何%実現していますか？<br>
</p>

<%= form_for @input_word, :url => '/phase_6' do |f| %>
  <div class="field">
    <%= f.text_field :achievement_percent %> %
  </div>
  <div class="actions">
    <%= f.submit "次へ" %>
  </div>

<br><br>

<% end %>

