<h1>2</h1>

<p>
	あなたが本当は<br>
	一番やりたいことはなんですか？
</p>

<%= form_for @input_word, :url => '/phase_4' do |f| %>
  <div class="field">
    <%= f.hidden_field :desire_1 %>
  </div>
  <div class="field">
    <%= f.text_field :desire_2 %>
  </div>
  <div class="actions">
    <%= f.submit "次へ" %>
  </div>

<br><br>
<p>
	１番欲しいもの：<%= @input_word.desire_1 %>
</p>
<% end %>